@import "tailwindcss";

:root {
    --main-color: #19183b;
    --second-color: #E7F2EF;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--second-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-color {
    background-color: var(--main-color);
}

.main-text-color {
    color: var(--main-color)
}

.main-button {
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.main-button:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}