.heroSection {
    min-height: calc(100vh - 3rem) !important;
    position: relative;
}

.heroSection .img svg {
    animation-name: img-move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.heroSection .angle {
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    transition-duration: var(--main-transition-duration);
    animation-name: up-down;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img-move {

    0%,
    100% {
        margin-top: 0px;
    }

    50% {
        margin-top: -100px;
    }
}

@keyframes up-down {

    0%,
    10%,
    20%,
    40%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}